*.iml
.gradle
gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/navEditor.xml
/.idea/shelf
/app/schemas/**/**
.DS_Store
**/build/**
/captures
**/**/*.apk
/app/production
/fastlane/report.xml
/firebase_app_distribution
/.idea/deploymentTargetDropDown.xml
/bundletool_temp/bundletool.jar
/app/jacoco.exec
